
.mail-container{
    width: 100%;
}
.mail{
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}
.create-mail div{
    margin-top: 10px;
}
.create-mail button{
    padding: 10px 30px;
    background-color: white;
}
.create-mail input{
    padding: 10px;
}
.create-mail{
    display: none;
}
.reciever{
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px;
    margin-left: -200px;
    margin-top: 20px;
    z-index: 20;
}
/* .reciever-cont{
    width: 50px;
} */