*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100%;
    background-color: aliceblue;
}
header{
    width: 70vw;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    
}

.file:hover{
    cursor: pointer;
}
.back img{
    transform: scale(0.5);
    margin-left: -20px;
}

.drive-main{
    width: 70vw;
    margin: auto;
    height: 70vh;
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.main-title{
    width: 100vw;
    height: 20px;
}

main img{
    /* transform: scale(0.3); */
    width: 100px;
    height: 100px;
    margin: 0px 20px 0px 40px;
    opacity: 40%;
    filter: drop-shadow(-6px 8px 10px #000);
    
}

.logo img{
    background-color: #eee;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

footer{
    width: 80vw;
    margin: auto;
    height: 15vh;
    text-align: center;
    background-color: aliceblue;
    
    
}

@media screen and (max-width:1000px){
    .drive-main{
        width: 90vw;
    }
}

@media screen and (max-width:662px){

    .drive-main{
        width: 100vw;
        height: auto;
    }
    
}
