*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2{
    color: Green;
    margin: 20px;
}
button{
    padding: 20px;
    border: none;
    color: aliceblue;
    background-color: rgb(120, 207, 120);
    border-radius: 10px;
    width: 120px;
    
}
.logo img{
    margin: 20px;
}
button:hover{
    background-color: green;
}